/*=================================================================
  About us section
==================================================================*/
.about {
  background:$bg-dark-hard;
  padding-bottom: 50px;
  & .block {
    background: $bg-dark-lite;
    padding:30px 20px;
    border-bottom:2px solid transparent;
    transition: .5s all;
    min-height: 100%;
    max-height: 100%;
    color: $white;
    &:hover {
      border-bottom:2px solid $primary-color;
    }
    &:hover .icon-box {
      transform: translateY(-10px);
    }
    & .content {
      h3 {
        font-weight: 400 !important;
        line-height: 1.2;
      }
      p {
        font-weight: 400 !important;
        font-size: 1.0rem !important;
        line-height: 1.5;
      }
    }
    & .icon-box {
      position: relative;
      width: 160px; 
      height: 92.38px;
      background-color: transparent;
      margin: 46.19px auto 60px;
      padding: 20px 0;
      border-left: 2px solid $border-color;
      border-right: 2px solid $border-color;
      font-size: 50px;
      transform: translateZ(0px);
      transition-duration: 0.3s;
      transition-property: transform;
      &:after, &:before {
        content: "";
        position: absolute;
        z-index: 1;
        width: 113.14px;
        height: 113.14px;
        background-color: inherit;
        left: 20.4315px;
        transform: scaleY(0.5774) rotate(-45deg);
      }
      &:before {
        top: -56.5685px;
        border-top: 2px solid rgba(236, 239, 241, 0.07);
        border-right: 2px solid rgba(236, 239, 241, 0.07);
      }
      &:after {
        bottom: -56.5685px;
        border-bottom: 2px solid rgba(236, 239, 241, 0.07);
        border-left: 2px solid rgba(236, 239, 241, 0.07);
      }

    }
    
  }
  
}




/*=================================================================
  About us 2 section
==================================================================*/
.about-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $bg-dark;
  color: $white;
  padding: 50px 0;
  & .img-fluid {
    width: 100%;
      height: 100%;
  }
.content-block {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
  & h2 {
    line-height: 1.2;
    padding-top: 10px !important;
    color: #afbac4;
  }
  & p {
    font-size:16px;
    font-weight: 400;
    line-height: 1.5;
  }
  .media {
    .pull-left {
        color: $primary-color;
      padding-right:15px;
    }
    margin-top:25px;
    & .bi {
      font-size:30px;
      color:$primary-color;
    }
    h4 {
      font-weight: 600; 
    } 
    
  }
}
}